.book-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bookbox-2{
height: 500px;
width: 420px;
align-items: center;
justify-content: center;
padding: 0px 10px;
}

.bookbox-1{
    height: 500px;
    width: 100%;
    padding: 50px;
}