.book-box{
    display: flex;
    align-items: center;
 justify-content: space-around;
}
.bookbox-2{
height: 500px;
width: 400px;
margin-top: -30%;
}

.bookbox-1{
    height: 500px;
    width: 100%;
    padding: 0px 50px;
    margin-top: -63%;
}
.box-2{
    margin-left: -15%;
}